html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$red: #d95141;

img {
  max-width: 100%;
}


.tagline {
  border-left: 1em solid $red;
  margin-top: 0;
  padding: 0.5em;
  @media screen and (min-width: 30em) {
    padding: 1em;
    border-left: 2em solid $red;
  }
}

body {
  font-size: 16px;
}

p {
  font-size: 1.5em;
  line-height: 1.5;
}
a {
  color: $red;
}

footer {
  p {
    font-size: 1em;
  }
}
